{% extends "blog/baseBlog.html" %} <!--Permet d'importer les blocs de base.html-->
{% load static %}
{% load markdown_filter %}

{% block titre %}{{ global.WEBSITE_NOM }}-{{ article.titre }}{% endblock %}

{% block contenu %}

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{% static 'img/ezo_banniere.png' %}')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="post-heading">
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="col-md-12 text-center">
            <h1>{{ article.titre }}</h1>
            <h2 class="subheading" style='font-size: 20px'>{{ article.sousTitre }}</h2>
            <span class="meta">Poster par
                <a href="#"> {{ article.auteur }}</a>
                le {{ article.date }}</span>
            <hr/>
        </div>
        <!-- Post Content -->
        <div class="col-md-12">
            <article>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-md-10 mx-auto">
                            {{ article.contenu|markdownify|safe }}
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <hr>
    </div>

{% endblock %}


