{% extends "core/baseCore.html" %} <!--Permet d'importer les blocs de base.html-->

{% load static %}
{% load markdown_filter %}

{% block titre %}{{ global.WEBSITE_NOM }} - A propos{% endblock %}

{% block contenu %}

    <header>
        <!-- Header -->
        <div class="carousel-item active"
             style="background-image: url('{% static 'core/img/sora_no_woto_.jpg' %}')">
            <div class="carousel-caption d-none d-md-block">
                <h3>A propos de nous</h3>
                <p>Mais qu'est que c'est que donc Ezo II ?</p>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <section class="py-5">
        <div class="container">
            <!-- Blog Entries Column -->
            <div class="row">
                <div class="offset-md-2 col-md-8">
                    <!-- Description -->
                    {{ global.COMMU_DESC|markdownify|safe }}
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="offset-md-2 col-md-8">
                    <div class="row">
                        <div class="offset-md-2 col-md-8 text-center">
                            <h4>Le staff :</h4>
                            <hr/>
                        </div>
                    </div>
                    {% for user in staff_liste %}
                        <div class="row">
                            <div class="col-md-3">
                                <img src="{{ user.profil.avatar.url }}"
                                     alt="{{ user.profil.avatar.name }}"
                                     class="img-fluid rounded-circle" height="100px">
                            </div>
                            <div class="offset-md-3 col-md-6">
                                <div class="card mb-4" style="height: 100%">
                                    <h2 class="card-footer"
                                        style="background-color: #bebebe">{{ user.username }}</h2>
                                    <p class="card-text">{{ user.profil.description|markdownify|safe }}</p>
                                </div>
                            </div>
                        </div>
                        <hr/>
                    {% endfor %}
                    <div class="row">
                        <div class="offset-md-2 col-md-8 text-center">
                            <h4>Les artistes :</h4>
                            <hr/>
                        </div>
                    </div>
                    {% for user in artistes_liste %}
                        <div class="row">
                            <div class="col-md-3">
                                <img src="{{ user.profil.avatar.url }}"
                                     alt="{{ user.profil.avatar.name }}"
                                     class="img-fluid rounded-circle" height="100px">
                            </div>
                            <div class="offset-md-3 col-md-6">
                                <div class="card mb-4" style="height: 100%">
                                    <h2 class="card-footer"
                                        style="background-color: #bebebe">{{ user.username }}</h2>
                                    <p class="card-text">{{ user.profil.description|markdownify|safe }}</p>
                                </div>
                            </div>
                        </div>
                        <hr/>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>


{% endblock %}