{% extends "core/baseCore.html" %} <!--Permet d'importer les blocs de base.html-->
{% load static %}

{% block titre %}{{ global.WEBSITE_NOM }} - A propos{% endblock %}

{% block contenu %}

    <header>
        <!-- Header -->
        <div class="carousel-item active"
             style="background-image: url('{% static 'core/img/sora_no_woto_.jpg' %}')">
            <div class="carousel-caption d-none d-md-block">
                <h3>A propos de nous</h3>
                <p>Mais qu'est que c'est que donc Ezo II ?</p>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <section class="py-5">
        <div class="container">
            <!-- Blog Entries Column -->
            <div class="row">
                <div class="offset-md-2 col-md-8">
                    <!-- Description -->
                    <p>Ezo II est une communauté francophone dédiée à la sous-culture japonaise,
                        créée par le très démocratique Catablor début octobre 2017,
                        alors que celui-ci n’avait rien de bien important à faire puisqu’il avait
                        été
                        éjecté de son ancien groupe.
                        Dans un premier temps la première et seule réalisation de la communauté est
                        une
                        série d’images mémiques sur Jean-Vincent Placé.</p>

                    <p>Aux alentours de mars 2018, un petit trublion, Shobu13, réussit à survivre à
                        une
                        expulsion du discord d’Ezo II,
                        et participe finalement à son expansion, en créant le site que vous
                        parcourez,
                        et en invitant LeChatPardeur,
                        qui nous créera une mignonne petite mascotte selon les critères
                        politico-colonialo-militaro-chelou de Catablor.</p>

                    <p>Le but final de la communauté serait de devenir une plateforme permettant de
                        faire sortir de
                        l’ombre des artistes francophones lié à la culture japonaise par le
                        financement,
                        voir de licencier en France des artistes japonais méconnus par le biais
                        d’une
                        structure propre,
                        nous permettant d’affiner nos choix de licenciement et de financement,
                        et d’en gérer le budget d’une manière honnête vis-à-vis des artistes
                        licenciés.</p>
                </div>
            </div>
            <hr/>
        </div>
    </section>


{% endblock %}