{% load static %}

<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block titre %}sample title {% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'blog/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'core/css/half-slider.css' %}" rel="stylesheet">
    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'core/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'core/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    {% if connexion %}
        <script type="text/javascript">
            $(document).ready(function () {

                $("#connexion").modal('show');

            });
        </script>
    {% endif %}
    {% if deconnexion %}
        <script type="text/javascript">
            $(document).ready(function () {

                $("#deconnexion").modal('show');

            });
        </script>
    {% endif %}

</head>

<body>


<!-- Navigation -->
{% if user.is_authenticated %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="{% url 'coreHome' %}">{{ global.WEBSITE_NOM }}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarResponsive" aria-controls="navbarResponsive"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'afficherProfil' %}">{{ user.username }}
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">|
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'coreHome' %}">Acceuil
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'aPropos' %}">A propos
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'deconnexion' %}">Se déconnecter
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% else %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="{% url 'coreHome' %}">{{ global.WEBSITE_NOM }}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarResponsive" aria-controls="navbarResponsive"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'coreHome' %}">Acceuil
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'aPropos' %}">A propos
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'connexion' %}">Se connecter
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'inscription' %}">Nous rejoindre
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endif %}

{% block contenu %}sample content{% endblock %}

<!-- Modal Connexion-->
<div class="modal fade" id="connexion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Vous êtes connecté</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Bienvenue {{ user.username }} !
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Connexion-->
<div class="modal fade" id="deconnexion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Vous êtes deconnecté</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                A la prochaine !
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>

</div>
</div>

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
    </div>
    <!-- /.container -->
</footer>


</body>

</html>