{% extends "core/baseCore.html" %} <!--Permet d'importer les blocs de base.html-->
{% load static %}

{% block titre %}{{ global.WEBSITE_NOM }} - A propos{% endblock %}

{% block contenu %}
    <link href="{% static 'core/css/connexion.css' %}" rel="stylesheet">

    <!-- Page Content -->
    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="card panel-login">
                        {% if user.is_authenticated %}
                            Vous êtes connecter <br/>
                            <a href="{% url 'deconnexion' %}">
                                <button class="btn btn-primary">Se déconnecter</button>
                            </a>
                        {% else %}
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-6">
                                        <a href="{% url 'connexion' %}" class="active text-primary"
                                           id="login-form-link">Se connecter</a>
                                    </div>
                                    <div class="col-6">
                                        <a href="{% url 'inscription' %}" id="register-form-link">S'enregistrer</a>
                                    </div>
                                </div>
                                <hr>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        {% if msg %}
                                            {{ msg }}<br/>
                                        {% endif %}
                                        {{ form.errors }}
                                        <form id="login-form" action="#" method="post" role="form"
                                              style="display: block;">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                {{ form.username.errors }}
                                                {{ form.username }}
                                            </div>
                                            <div class="form-group">
                                                {{ form.password.errors }}
                                                {{ form.password }}
                                            </div>
                                            <!--<div class="form-group text-center">
                                                <input type="checkbox" tabindex="3" class="" name="remember" id="remember">
                                                <label for="remember"> Remember Me</label>
                                            </div>-->
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-sm-6 offset-sm-3">
                                                        <input type="submit"
                                                               class="form-control btn btn-login"
                                                               value="Connexion">
                                                    </div>
                                                </div>
                                            </div>
                                            <hr/>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="text-center">
                                                            <div class="row" style="padding-bottom: 5px;">
                                                                <div class="offset-md-2 col-md-8">
                                                                    <a href="{% url 'social:begin' 'github' %}"
                                                                       style="text-decoration: none">
                                                                        <button class="btn btn-login btn-block">Se
                                                                            connecter
                                                                            avec GitHub
                                                                        </button>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="row" style="padding-bottom: 5px;">
                                                                <div class="offset-md-2 col-md-8">
                                                                    <a href="{% url 'social:begin' 'twitter' %}"
                                                                       style="text-decoration: none">
                                                                        <button class="btn btn-login btn-block">Se
                                                                            connecter
                                                                            avec Twitter
                                                                        </button>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            {% comment %}<div class="row">
                                                                <div class="offset-md-2 col-md-8"
                                                                     style="padding-bottom: 5px;">
                                                                    <a href="{% url 'social:begin' 'facebook' %}"
                                                                       style="text-decoration: none">
                                                                        <button class="btn btn-login btn-block">Se
                                                                            connecter
                                                                            avec Facebook
                                                                        </button>
                                                                    </a>
                                                                </div>
                                                            </div>{% endcomment %}
                                                        </div>
                                                        <hr/>
                                                        <div class="text-center">
                                                            <a href="#" class="forgot-password">Mot de passe oublier
                                                                ?</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}