{% extends "core/baseCore.html" %} <!--Permet d'importer les blocs de base.html-->
{% load static %}

{% block titre %}{{ global.WEBSITE_NOM }} - A propos{% endblock %}

{% block contenu %}
<link href="{% static 'core/css/connexion.css' %}" rel="stylesheet">

    <!-- Page Content -->
    <section class="py-5">
        <div class="container">
    	<div class="row">
			<div class="col-md-6 offset-md-3">
				<div class="card panel-login">
					<div class="card-header">
						<div class="row">
							<div class="col-6">
								<a href="{% url 'connexion' %}" id="login-form-link">Login</a>
							</div>
							<div class="col-6">
								<a href="{% url 'inscription' %}" id="register-form-link" class="active">Register</a>
							</div>
						</div>
						<hr>
					</div>
					<div class="card-body">
						<div class="row">
							<div class="col-lg-12">
								<form id="register-form" action="https://phpoll.com/register/process" method="post" role="form" style="display: block;">
									<div class="form-group">
										<input type="text" name="username" class="form-control" placeholder="Username" value="">
									</div>
									<div class="form-group">
										<input type="email" name="email" class="form-control" placeholder="Email Address" value="">
									</div>
									<div class="form-group">
										<input type="password" name="password" class="form-control" placeholder="Password">
									</div>
									<div class="form-group">
										<input type="password" name="confirm-password" class="form-control" placeholder="Confirm Password">
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 offset-sm-3">
												<input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Now">
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
    </section>


{% endblock %}