{% extends "core/baseCore.html" %} <!--Permet d'importer les blocs de base.html-->
{% load static %}

{% block titre %}{{ global.WEBSITE_NOM }} - Inscription{% endblock %}

{% block contenu %}
<link href="{% static 'core/css/connexion.css' %}" rel="stylesheet">

    <!-- Page Content -->
    <section class="py-5">
        <div class="container">
    	<div class="row">
			<div class="col-md-6 offset-md-3">
				<div class="card panel-login">
                {% if user.is_authenticated %}
                    Vous êtes connecter
                    {% else %}
					<div class="card-header">
						<div class="row">
							<div class="col-6">
								<a href="{% url 'connexion' %}" id="login-form-link">Se connecter</a>
							</div>
							<div class="col-6">
								<a href="{% url 'inscription' %}" id="register-form-link" class="active">S'enregistrer</a>
							</div>
						</div>
						<hr>
					</div>
					<div class="card-body">
						<div class="row">
							<div class="col-lg-12">
								<form id="register-form" action="#" method="post" role="form" style="display: block;">
                                {{ form.errors }}
                                {% csrf_token %}
                                    {% if msg %}
                                    {{ msg }}<br/>
                                    {% endif %}
									<div class="form-group">
                                        {{ form.username.errors }}
										{{ form.username }}
									</div>
									<div class="form-group">
                                        {{ form.email.errors }}
										{{ form.email }}
									</div>
									<div class="form-group">
										{{ form.password }}
									</div>
									<div class="form-group">
										<input type="password" name="confirm-password" class="form-control" placeholder="Confirm Password" required>
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 offset-sm-3">
												<input type="submit" class="form-control btn btn-register" value="S'enregistrer"/>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
                {% endif %}
				</div>
			</div>
		</div>
	</div>
    </section>


{% endblock %}